---
layout: default
comments: true
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>

		<div style="border: 1px solid black; height: auto; width: auto;
			    margin: 80px 80px 80px 80px; padding: 20px;">
		{%- include disqus.html -%}
	        </div>

